
h1 {
    font-family: plantin-condensed, sans-serif;
    color: #E72629;
    opacity: 90%;
    text-align: center;
}

p {
    font-family: monospace;
}

#zoom-container {
    height: 150vh;
}

#zoom-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: opacity(0) scale(1) translate(-50%, -50%);
    transition: font-size 0.25s ease-out;
    overflow: hidden;
}