
h1 {
    font-family: plantin-condensed, sans-serif;
    color: #E72629;
    opacity: 90%;
    text-align: center;
}

p {
    font-family: monospace;
}

#zoom-container {
    height: 100vh;
}

#zoom-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: opacity(0) scale(1) translate(-50%, -50%);
    transition: font-size 0.25s ease-out;
    overflow: hidden;
}

.textcolumns {
    column-count: 2;
    column-gap: 1em;
}

#popup01 {
    border: 2px solid #E72629;
    width: 33%;
    height: 30rem;
    overflow: scroll;
    border-radius: 1rem;
    padding: 1rem;
}